
.menu-poslug li a{
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	font-size: 1.20em;
	background-color: lemonchiffon;
	/*text-transform: uppercase;*/
}

.menu-poslug li.active a{
	background-color:#0070bf;
	color:#eee;
}

.menu-poslug li.active a:focus{
	color:#eee;
}

